---
import "../styles/global.css";
const {
  title,
  subtitle,
  subtitle2,
  title2,
  description,
  content,
  desc,
  content2,
  desc2,
  content3,
  desc3,
} = Astro.props;
---

<section
  class="relative py-16 h-[calc(100vh-5.5rem)] md:h-[calc(100vh-16rem)] mt-[16rem]"
  id="aboutme"
>
  <img
    src="/images/a4.webp"
    alt="uber uns"
    class="absolute inset-0 w-full h-full object-cover"
  />
  <div class="absolute inset-0 bg-black/30"></div>
  <div
    class="relative z-10 flex items-center h-full pt-[30rem] md:pt-[23rem] lg:pt-0 lg:max-w-2xl px-6 md:px-16 pb-32"
  >
    <div class="text-white w-full">
      <h1
        class="text-4xl md:text-4xl font-bold mb-4 font-dm text-center lg:text-left"
      >
        {title}
      </h1>
      <p class="hidden md:flex text-justify text-lg md:text-xl lg:text-left">
        {subtitle}
      </p>
      <p class="md:hidden flex text-justify text-lg">
        {subtitle2}
      </p>
    </div>
  </div>
</section>
<section class="mb-[16rem]">
  <div class="w-full max-w-6xl mx-auto px-4 py-10 space-y-10 mt-16">
    <div class="flex flex-col lg:flex-row">
      <div class="lg:w-1/2 h-[80vh] bg-cover bg-center overflow-hidden">
        <img src="/images/a5.webp" class="rounded-lg h[10rem]1-" alt="" />
      </div>
      <div class="lg:w-1/2 p-6 text-center">
        <h2 class="text-2xl md:text-4xl font-bold mb-4 font-dm">{title2}</h2>
        <div class="text-gray-700 text-base md:text-xl space-y-4 text-justify">
          {
            description.map((paragraph: string) => (
              <p class="leading-relaxed">{paragraph}</p>
            ))
          }
        </div>
      </div>
    </div>
    <!-- Fila 1 -->
    <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-6 mt-[16rem]">
      <!-- Imagen -->
      <div id="p5">
        <img
          src="/images/a2.webp"
          alt="Descripción"
          class="w-full h-auto rounded-lg shadow"
        />
      </div>

      <!-- Texto -->
      <div id="p6">
        <h2 class="text-2xl md:text-4xl text-7 font-bold mb-2 font-dm">
          {content}
        </h2>
        <p class="text-justify text-gray-600 text-base md:text-2xl">
          {desc}
        </p>
      </div>
    </div>

    <!-- Fila 2 -->
    <div
      class="flex flex-col md:grid md:grid-cols-2 items-center gap-6 mt-[16rem]"
    >
      <!-- Texto -->
      <div id="p8" class="order-2 md:order-1">
        <h2 class="text-2xl md:text-3xl text-7 font-bold mb-2 font-dm">
          {content2}
        </h2>
        <p class="text-justify text-gray-600 text-base md:text-2xl">
          {desc2}
        </p>
      </div>
      <!-- Imagen -->
      <div id="p7" class="order-1 md:order-2">
        <img
          src="/images/a8.webp"
          alt="Descripción"
          class="w-full h-auto rounded-lg shadow"
        />
      </div>
    </div>
    <!-- Fila 3 -->
    <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-6 mt-[16rem]">
      <!-- Imagen -->
      <div id="p9">
        <img
          src="/images/a10.webp"
          alt="Descripción"
          class="w-full h-auto rounded-lg shadow"
        />
      </div>

      <!-- Texto -->
      <div id="p10">
        <h2 class="text-2xl md:text-3xl text-7 font-bold mb-2 font-dm">
          {content3}
        </h2>
        <p class="text-justify text-gray-600 text-base md:text-2xl">
          {desc3}
        </p>
      </div>
    </div>

    <!-- Agrega más filas según sea necesario -->
  </div>
</section>
