---
const {
  title1,
  desc1,
  title2,
  desc2,
  title3,
  desc3,
  title4,
  desc4,
  title5,
  desc5,
  title6,
  desc6,
} = Astro.props;
---

<section id="faq">
  <!-- component -->
  <div class="m-2 space-y-2 h-[60vh] my-[15rem]">
    <div
      class="group flex flex-col gap-2 rounded-lg bg-1 p-5 text-white"
      tabindex="0"
      id="toggleBtn0"
    >
      <button class="flex w-full cursor-pointer items-center justify-between">
        <span> {title1} </span>
        <img
          id="chevron0"
          src="https://upload.wikimedia.org/wikipedia/commons/9/96/Chevron-icon-drop-down-menu-WHITE.png"
          class="h-2 w-3 transition-all duration-500"
        />
      </button>
      <div
        id="content0"
        class="max-h-0 overflow-hidden opacity-0 transition-all duration-500"
      >
        {desc1}
      </div>
    </div>
    <div
      class="group flex flex-col gap-2 rounded-lg bg-1 p-5 text-white"
      tabindex="1"
      id="toggleBtn1"
    >
      <button class="flex w-full cursor-pointer items-center justify-between">
        <span> {title2} </span>
        <img
          id="chevron1"
          src="https://upload.wikimedia.org/wikipedia/commons/9/96/Chevron-icon-drop-down-menu-WHITE.png"
          class="h-2 w-3 transition-all duration-500"
        />
      </button>
      <div
        id="content1"
        class="max-h-0 overflow-hidden opacity-0 transition-all duration-500"
      >
        {desc2}
      </div>
    </div>

    <div
      class="group flex flex-col gap-2 rounded-lg bg-1 p-5 text-white"
      tabindex="2"
      id="toggleBtn2"
    >
      <button class="flex w-full cursor-pointer items-center justify-between">
        <span> {title3} </span>
        <img
          id="chevron2"
          src="https://upload.wikimedia.org/wikipedia/commons/9/96/Chevron-icon-drop-down-menu-WHITE.png"
          class="h-2 w-3 transition-all duration-500"
        />
      </button>
      <div
        id="content2"
        class="max-h-0 overflow-hidden opacity-0 transition-all duration-500"
      >
        {desc3}
      </div>
    </div>

    <div
      class="group flex flex-col gap-2 rounded-lg bg-1 p-5 text-white"
      tabindex="3"
      id="toggleBtn3"
    >
      <button class="flex w-full cursor-pointer items-center justify-between">
        <span> {title4} </span>
        <img
          id="chevron3"
          src="https://upload.wikimedia.org/wikipedia/commons/9/96/Chevron-icon-drop-down-menu-WHITE.png"
          class="h-2 w-3 transition-all duration-500"
        />
      </button>
      <div
        id="content3"
        class="max-h-0 overflow-hidden opacity-0 transition-all duration-500"
      >
        {desc4}
      </div>
    </div>

    <div
      class="group flex flex-col gap-2 rounded-lg bg-1 p-5 text-white"
      tabindex="4"
      id="toggleBtn4"
    >
      <button class="flex w-full cursor-pointer items-center justify-between">
        <span> {title5} </span>
        <img
          id="chevron4"
          src="https://upload.wikimedia.org/wikipedia/commons/9/96/Chevron-icon-drop-down-menu-WHITE.png"
          class="h-2 w-3 transition-all duration-500"
        />
      </button>
      <div
        id="content4"
        class="max-h-0 overflow-hidden opacity-0 transition-all duration-500"
      >
        {desc5}
      </div>
    </div>

    <div
      class="group flex flex-col gap-2 rounded-lg bg-1 p-5 text-white"
      tabindex="5"
      id="toggleBtn5"
    >
      <button class="flex w-full cursor-pointer items-center justify-between">
        <span> {title6} </span>
        <img
          id="chevron5"
          src="https://upload.wikimedia.org/wikipedia/commons/9/96/Chevron-icon-drop-down-menu-WHITE.png"
          class="h-2 w-3 transition-all duration-500"
        />
      </button>
      <div
        id="content5"
        class="max-h-0 overflow-hidden opacity-0 transition-all duration-500"
      >
        {desc6}
      </div>
    </div>
  </div>
</section>

<script>
  for (let i = 0; i <= 5; i++) {
    const btn = document.getElementById(`toggleBtn${i}`);
    const content = document.getElementById(`content${i}`);
    const chevron = document.getElementById(`chevron${i}`);

    btn.addEventListener("click", () => {
      const isOpen = content.classList.contains("max-h-screen");

      content.classList.toggle("max-h-0", isOpen);
      content.classList.toggle("opacity-0", isOpen);
      content.classList.toggle("max-h-screen", !isOpen);
      content.classList.toggle("opacity-100", !isOpen);

      chevron.classList.toggle("-rotate-180", !isOpen);
    });
  }
</script>
