---
const { title, subtitle, name, email, phone, message, send, success } =
  Astro.props;
const successs = success;
---

<section
  class="relative bg-1 flex flex-col lg:flex-row min-h-[90vh] items-stretch px-4"
  id="contact"
>
  <div
    class="pt-[16rem] flex flex-col lg:flex-row w-full justify-between not-hover gap-6 lg:gap-0"
  >
    <!-- Imagen + texto -->
    <div
      class="relative lg:w-1/2 h-[60vh] lg:h-[80vh] overflow-hidden xl:w-1/2 rounded-lg w-full"
    >
      <img
        src="/images/a6.webp"
        alt="Kontakt"
        class="absolute inset-0 w-full h-full object-cover"
      />
      <!-- Capa oscura opcional para contraste -->
      <div class="absolute inset-0 bg-black/40"></div>
      <div
        class="relative z-10 flex flex-col justify-center items-center h-full px-6 pt-[10rem] lg:text-left"
      >
        <h2
          class="text-5xl lg:text-6xl font-bold text-white md:mt-0 mb-4 font-dm drop-shadow-lg"
        >
          {title}
        </h2>
        <p class="text-xl text-[#f6f6f6] font-jost drop-shadow text-center">
          {subtitle}
        </p>
      </div>
    </div>

    <!-- Formulario de contacto -->

    <div class="w-full bg-1 lg:w-1/2 h-[60vh] lg:h-[80vh]">
      <div
        class="bg-white relative rounded-lg p-8 sm:p-12 shadow-lg h-full flex flex-col justify-center"
      >
        <form id="contactForm">
          <div class="mb-6">
            <input
              name="name"
              type="text"
              placeholder={name}
              class="w-full
                          rounded
                          py-3
                          px-[14px]
                          text-body-color text-base
                          border border-[f0f0f0]
                          outline-none
                          focus-visible:shadow-none
                          focus:border-primary"
              required
            />
          </div>
          <div class="mb-6">
            <input
              name="email"
              type="email"
              placeholder={email}
              class="w-full
                          rounded
                          py-3
                          px-[14px]
                          text-body-color text-base
                          border border-[f0f0f0]
                          outline-none
                          focus-visible:shadow-none
                          focus:border-primary"
              required
            />
          </div>
          <div class="mb-6">
            <input
              name="phone"
              type="text"
              placeholder={phone}
              class="w-full
                          rounded
                          py-3
                          px-[14px]
                          text-body-color text-base
                          border border-[f0f0f0]
                          outline-none
                          focus-visible:shadow-none
                          focus:border-primary"
              required
            />
          </div>
          <div class="mb-6">
            <textarea
              name="message"
              rows="6"
              placeholder={message}
              class="w-full
                          rounded
                          py-3
                          px-[14px]
                          text-body-color text-base
                          border border-[f0f0f0]
                          resize-none
                          outline-none
                          focus-visible:shadow-none
                          focus:border-primary"
              required></textarea>
          </div>
          <div>
            <button
              type="submit"
              class="w-full
                          text-white bg-2
                          bg-primary
                          rounded
                          border border-primary
                          p-3
                          transition
                          cursor-pointer
                          hover:bg-opacity-90"
            >
              {send}
            </button>
          </div>
        </form>
        <script type="module" define:vars={{ successs }}>
          document.addEventListener("DOMContentLoaded", function () {
            const form = document.getElementById("contactForm");

            form.addEventListener("submit", async (e) => {
              e.preventDefault();
              e.stopPropagation();

              const data = {
                name: form.name.value,
                email: form.email.value,
                phone: form.phone.value,
                message: form.message.value,
              };

              try {
                const response = await fetch(
                  "https://email-sender-nggc.onrender.com/api/contact/send",
                  {
                    method: "POST",
                    headers: {
                      "Content-Type": "application/json",
                    },
                    body: JSON.stringify(data),
                  }
                );

                if (response.ok) {
                  const successMessage = document.createElement("div");
                  successMessage.textContent = successs;
                  successMessage.className = "text-green-500 text-center mt-4";
                  form.parentElement.appendChild(successMessage);

                  form.reset();

                  setTimeout(() => {
                    successMessage.remove();
                  }, 5000);
                } else {
                  alert("Error al enviar el mensaje.");
                }
              } catch (error) {
                alert("Error de red.");
                console.error(error);
              }
            });
          });
        </script>
      </div>
    </div>
  </div>
</section>
